# Dependencies
/node_modules

# Production
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local
.env.*.local

# macOS
.DS_Store

# Windows
Thumbs.db

# Vercel
.vercel

# Firebase
.firebase

# IDEs
.vscode/
.idea/

replicon-local-runner/firebase-service-account.json
